body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  position:relative;
}
.main{
  /* height:calc(100vh / 3); */
  height: 200px;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  width: 35vw;
}

.floor{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.i{  
  /* border:1px solid black; */
  color:grey;
  margin:5px 0;
  
}

.lift{
  height:100px;
  width:100px;
  background:green;
  position:absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  bottom:50px;
}
